.git/
trash/
utils/
documents/
orchestrator/detector/mabsed/corpusFileByFile.py
orchestrator/detector/data/corpus/
orchestrator/data/preprocessed/
orchestrator/data/streaming/
streamer/credentials.py
streamer/startStreamingCluster.py
2test.py
Debate-Spam.csv
elasticUpload.py
Elecciones-Spam.csv
.env