.git/
trash/
utils/
documents/
orchestrator/detector/mabsed/corpusFileByFile.py
orchestrator/detector/data/corpus/
streamer/credentials.py
streamer/startStreamingCluster.py
2test.py
Debate-Spam.csv
elasticUpload.py
Elecciones-Spam.py
.env
.gitattributes
